.colorMedio {
    background-color: #FB7F7F
}

.fEstre {
    width: 30%;
}

.fMedia {
    width: 35%;
}

.fGrande {
    width: 60%;
}

.posLeft {
    float: left;
    margin: 1em;
}

.caja {
    box-shadow: 10px 10px 8px teal;
    border: 5px double red;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-sizing: border-box;
}

.titulo {
    background-color: rgb(247, 219, 208);
    width: 100%;
    display: block;
    font-size: 1.2em;
}

.titulo2 {
    composes: titulo;
    font-size: 1.5em;
    font-weight: 800;
    ;
}

.titulo3 {
    composes: titulo;
    font-size: 2em;
    font-weight: 1000;
}

.papeq {
    font-size: 1em;
    font-weight: 600;
}

.papeqr {
    font-size: 1em;
    font-weight: 800;
}

.grNumero {
    font-size: 2em;
    font-weight: 2000;
}

.grTitulo {
    composes: papeqr colorMedio;
    width: 30%;
}

.base1 {
    composes: fEstre posLeft caja;
}

.base1r {
    padding: 0.5em;
}

.base2 {
    composes: fMedia posLeft caja;
}

.base3 {
    composes: fGrande posLeft caja;
}