* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
}

/* Header */
.search-input {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid rgb(95, 144, 250);
  transition: all .4s;
}

.search-input:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid #dc3545;
}

.search-button {
  border-radius: 50%;
  padding: 10px 16px;
  transition: all .4s;

}

.search-button:hover {
  background-color: #eee;
  transform: translateY(-1px);
}

/* navbar */
.sidebar {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0, .2), rgba(0,0,0, .7)) ,url(Components/Comun/images/fondoNavbar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 7px 25px rgb(12, 11, 11);
  overflow: auto scroll;
}
.sidebar::-webkit-scrollbar {
  width: 8px;  
  height: 8px; 
}


.sidebar::-webkit-scrollbar-thumb{
  background: linear-gradient(rgba(32, 46, 177, 0.562), rgba(8, 23, 90, 0.7));
  border-radius: 4px;
  
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgba(8, 23, 90, 0.7), rgba(32, 46, 177, 0.562));
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  
}

.section-container{
  padding: 140px;
}

.section-container::-webkit-scrollbar-thumb:active {
  background-color: #3842d452;
}

.section-container::-webkit-scrollbar {
  width: 8px;  
  height: 8px; 
}


.section-container::-webkit-scrollbar-thumb{
  background: linear-gradient(rgba(32, 46, 177, 0.562), rgba(8, 23, 90, 0.7));
  border-radius: 4px;
  
}

.section-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgba(8, 23, 90, 0.7), rgba(32, 46, 177, 0.562));
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  
}


.section-container::-webkit-scrollbar-thumb:active {
  background-color: #3842d452;
}


.bottom-border {
  border-bottom: 1px groove #eee;
}

.sidebar-link{
  transition: all .4s;
}

.sidebar-link:hover{
  background-color: rgba(75, 86, 133, 0.7);
  border-radius: 10px;
  cursor: pointer;
}

.active{
  background-color: #f44336;
  border-radius: 7px;
  box-shadow: 2px 5px 10px #111;
  transition: all .3s;
}


.active:hover {
  background-color: #f66436;
  border-radius: 7px;
  box-shadow: 2px 5px 20px #111;
  transform: translateY(-1px);
}

.section-container{
  min-height: calc(100vh -100px-100px);
}

.footer-nav{
  position:  sticky;
  clear: both;
  color: rgb(37, 45, 161);
  bottom: 0;
  z-index: -2;
  width: 100%;
  font-size: 12px;
  font-weight: bolder;
  margin:0px auto;
}

.cabecera_controlador{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.elementoFormularioClub{
  float: left;
  margin-left: 25%;
  margin-right: auto;
}


.homepage{
  text-align: center;
  
}
.containermenu{
  
  border: gray 2px solid;
}

.navbar-toggler{font-size: 40px;}
.navbar-toggler:focus{outline:none}


@media(max-width: 768px) {
  .sidebar{
    position: static;
    height: auto;
  }
  .top-navbar {
    position: static;
  }
}


/* End of navbar */
