.navbar{
    box-shadow: 0 2px 4px 0 rgba(0,0,0, 0.5);
  }
  .footer{
    min-width: 100px;
     background-color: wheat;
 }
  .header{
    
    color: white;
    background-color:white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0, 0.5);
    min-width: 100px;
  }
  .nav-link{
      color:black
  }
  .nav-link:hover{
    cursor: default;
}
.navbar-brand{
    cursor: default;
    color:black
  }
.navbar-toggler{font-size: 40px;}
.navbar-toggler:focus{outline:none}

 .logo-brand{
   min-width: 160px;
   max-width: 180px;
 }
 .principal{
     margin-top: 80px;
 }
 .rutas{
    
     text-transform: uppercase;
     padding: 1.7rem;
     color:black;
 }
 .rutas:hover{
    
    cursor: pointer;
}