/* se aplica a todo lo que escriba el widget */

.wip_css_widget {
    background-color: lavender;
    border-radius: 25px;
    border: 2px solid #73ad21;
    padding: 10px;
    text-align: center;
    display: block;
}


/* div global */

.gralwim {
    background-color: whitesmoke;
    border-radius: 25px;
    text-align: center;
    margin: auto;
}


/*para titulo*/

.wiptit {
    justify-content: center;
    margin-top: 10px;
}


/* para enlace y la imagen que contiene */

.wipimg {
    background-color: chocolate;
    width: 100%;
    text-align: center;
}

a.wipimg {
    width: 100%;
    text-align: center;
}

a.wipimg img {
    margin: 20px auto 20px;
    display: block;
    width: 90%;
}


/*para div de comentario*/

.wipcomment {
    text-align: left;
}


/* para comentario */

.wiptextcomment {
    font-family: cursive;
    justify-content: left;
    display: block;
    padding: 20px;
}