/* se aplica a todo lo que escriba el listado */

.listado {
    background-color: black;
}


/* se aplica a las poblaciones (titulos h3) */

.nombrePoblacion {
    text-transform: uppercase;
    font-family: Rubik, sans-serif;
    font-size: 100%;
    ;
    font-weight: inherit;
    letter-spacing: 1.7px;
    display: inline-block;
    color: #FFFFFF;
    align-self: center;
    padding-left: 5px;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    list-style: disc;
}


/* divImagen */

.divImagen {
    float: left;
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, -webkit-border-radius .3s, -webkit-box-shadow .3s;
}


/* aimagen para el enlace conteniendo la imagen */

.aImagen {}


/* paraImagen aplicado directamente a la imagen */

.paraImagen {
    width: 78%;
    height: 78%;
    border-radius: 100% 100% 100% 100%;
    box-shadow: 0px 8px 10px -3px #000000;
}


/* nombreClub para el nombre del club */

.nombreClub {
    font-family: Muli, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    clear: both;
}