.containerProducts{
    margin-left:20px;
}

.titlePlato{
    font-size: 20px;
    margin-left: 20px;;
}

.quantityPlato{
    width: 40px;
    margin-left: 20px;
}

.containerProducts h3{ 
    border-left:4px solid coral;
    padding-left:20px;
}
.containerProducts{
    vertical-align: top;
    height: min-content;
    display: table;
    overflow-y: hidden;
}
.floatRight{
    float: right;
}
.floatLeft{
    float:left;
}
.clearRight{
    clear: right;
}
.subtotal{
    margin-left: 5%;
}
.notas{
    margin-left: 4px;
    margin-bottom: 20px;
}
.containerProducts{
    max-width:90%;
    min-width:90%;
    display:inline-block;
    margin-left: 5%;
    position: inherit;
}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    .containerProducts{
        max-width:35%;
        min-width:35%;
        display:inline-block;
        margin-left: 10%;
        position: inherit;
    }
}
  
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    .containerProducts{
        max-width:40%;
        min-width:40%;
        display:inline-block;
        margin-left: 5%;
        position: inherit;
    }
    
}
  
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
}
  
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
}
  
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/
  
@media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
}
  
/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/
  
@media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
    
}